@model D2DB.Models.ViewViewModel
@{
    ViewBag.Title = "View";
}

@section Scripts {
<link href="~/styles.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script><script src="~/Scripts/View.js"></script>
    <script type="text/javascript">

    var vm = @Html.Raw(Model.JSON) 
      vm.now =new Date('@Html.Raw(DateTime.Now)') ; //deflate Items
    for(var a = 0 ; a < vm.Accounts.length; a++){
        for(var c = 0 ; c < vm.Accounts[a].Characters.length; c++){
            for(var i = 0 ; i < vm.Accounts[a].Characters[c].Items.length; i++)
            {
                vm.Accounts[a].Characters[c].Items[i].item = JSON.parse(vm.Accounts[a].Characters[c].Items[i].Json)
            }
            
        }
    }
   
    </script>
}

<h2>@Html.DisplayFor(x => Model.Owner)</h2>

<div ng-app="D2DB">

    <div ng-controller="View">

        <tabset>
            <tab heading="{{accounts.Name}}" ng-repeat="accounts in vm.Accounts">
                <tabset>
                    <tab heading="{{car.Name}}" ng-repeat="car in accounts.Characters">
                        <div class="row">

                            <div class="stashexp_bg">
                                <div class="stashexp_rel">
                                    <div class="item" ng-repeat="It in car.Items" ng-if="It.item.location ==7" style="background-image:url({{'/inv/' + It.item.file +'.png'}}); width:{{It.item.sixex *29}}px;height:{{It.item.sizey*29}}px;background-position: 0px 0px;position:absolute;left:{{It.item.x *29 }}px;top:{{ It.item.y *29 }}px;">

                                        <div class="holder" style="left:-221px;top:58px;width:500px;">
                                            <div class="stats" ng-bind-html="buildDiscription(It.item) | rawHtml">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invexp_bg">
                                <div class="invexp_rel">
                                    <div class="item" ng-repeat="It in car.Items" ng-if="It.item.location == 1 ||It.item.location == 3" style="background-image:url({{'/inv/' + It.item.file +'.png'}}); width:{{It.item.sixex *29}}px;height:{{It.item.sizey*29}}px;background-position: 0px 0px;position:absolute;left:{{getItemPosition(It.item).x }}px;top:{{ getItemPosition(It.item).y }}px;">

                                        <div class="holder" style="left:-221px;top:58px;width:500px;">
                                            <div class="stats">
                                                <div class="stats" ng-bind-html="buildDiscription(It.item) | rawHtml">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cube_bg">
                                <div class="cube_rel">
                                    <div class="item" ng-repeat="It in car.Items" ng-if="It.item.location == 6" style="background-image:url({{'/inv/' + It.item.file +'.png'}}); width:{{It.item.sixex *29}}px;height:{{It.item.sizey*29}}px;background-position: 0px 0px;position:absolute;left:{{It.item.x *29 }}px;top:{{ It.item.y *29 }}px;">

                                        <div class="holder" style="left:-221px;top:58px;width:500px;">
                                            <div class="stats" ng-bind-html="buildDiscription(It.item) | rawHtml">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                {{accounts.Server}}
                                {{car.Ladder}}
                                <p>Lvl {{car.Level}} {{ClassToName[car.Class]}}</p>
                                Age of Dump
                                {{getDateDiff(vm.now, car.lastUpdate) }}
                                @if (Model.isMyStuff)
                                {
                                    <div>
                                        <button ng-click="viewChar(car)">View This Character</button>
                                    </div>
                                    <button ng-click="deleteChar(car, accounts)">Delete Character</button>

                                }
                            </div>
                        </div>
                    </tab>
                    
                </tabset>
            </tab>
        </tabset>
</div>
</div>